<div class="row" style="padding-top:2.5rem">
	<div class="large-10 push-1 columns">
		<div class="row">
			<div class="large-2 columns">
				<ul class="sub-menu-nav">
					<li ng-repeat="i in item.menuList1">
						<a href="">{{i.name}}</a>
					</li>
				</ul>
			</div>
			<div class="large-2 columns">
				<ul class="sub-menu-nav" ng-if="item.name !='travel' && item.name !='accessories'">
					<li ng-repeat="i in item.menuList2">
						<a href="">{{i.name}}</a>
					</li>
				</ul>
				<ul class="sub-menu-nav-copy" ng-if="item.name =='travel' || item.name =='accessories'">
					<li ng-repeat="i in item.menuList2">
						<a href="">{{i.name}}</a>
					</li>
				</ul>
				<ul class="sub-menu-nav" ng-if="item.menuList3.length">
					<li ng-repeat="i in item.menuList3">
						<a href="">{{i.name}}</a>
					</li>
				</ul>
			</div>
			<div class="columns" ng-class="{'large-4': !item.banner3, 'large-2 push-2': item.banner3}">
				<img ng-src="{{item.banner1}}">
			</div>
			<div class="columns" ng-class="{'large-4': !item.banner3, 'large-2 push-2': item.banner3}">
				<a href="#/outlet">
					<img ng-src="{{item.banner2}}">
				</a>
			</div> 
			<div class="large-2 columns" ng-if="item.banner3">
				<img ng-src="{{item.banner2}}">
			</div>
		</div>
	</div>
</div>