$base-font-family		   :"BrandonGrotesque";
$base-font-size			   :0.8rem;
$base-line-height          :1.4rem;
$base-font-weight-normal   :normal;
$base-font-weight-bold     :bold;
$base-font-color           :#3B3B3B;
$color-gray                :#F7F7F9;
$color-light-gray   	   :#A5A5A5;
$color-gray-dark		   :#666666;
$color-pink				   :#DD1264;
$text-uppercase            :uppercase; 




/*Color Set*/
$black                     :#000000;
$white                     :#FFFFFF;
$base                      :#AAAAAA;
$grey                      :#555555;
$silver                    :#CCCCCC;
$white					   :#FFFFFF;
$gray-border               :#DCDCDC;
$gray-shade				   :#F4F2E5;
$biege-green               :#69D8C7;
$light-grey                :#F1F1F1;
$light-gray                :#8B847A;
$lighter-gray  			   :#F9F9F7;
