$base-font-family		   :"BrandonGrotesque";
$base-font-size			   :0.8rem;
$base-font-weight-normal   :normal;
$base-font-weight-bold     :bold;
$base-font-color           :#3B3B3B;
$color-gray                :#F7F7F9;
$color-light-gray   	   :#A5A5A5;
$color-gray-dark		   :#666666;
$color-pink				   :#DD1264;
$text-uppercase            :uppercase; 





/*Color Set*/

$base                      :#AAAAAA;
$silver                    :#CCCCCC;
$white					   :#fff;
$gray-border               :#DCDCDC;
$gray-shade				   :#F4F2E5;