
@font-face {
    font-family: "BrandonGrotesque";
    src: url(../fonts/brandon_re.ttf);
}
body {
	font-family:$base-font-family;
	font-size:$base-font-size;
	color:$base-font-color;
	height: 70rem;
}
.row {
	 max-width:80rem;
}
ul li {
	list-style-type:none;
}

.no-padding {
	padding: 0;
}

.silver-border {
	border-bottom: 1px solid $silver;
}