.header {
	background-color:$color-gray;
	font-size: 95%;
	padding: 10px 0 2px;
	&__left-column, &__right-column {
		text-transform: uppercase;
		font-size: 85%;
	}
	&__right-column {
		span {
			color:$color-light-gray;
		}
	}
	&__left-column{
		padding-top: 0.25rem;  
		font-size: 104%;
		color:$color-gray-dark;
		span {
			font-size: 77%;
		}
		.verticle-line {
			 font-size: 100%;
		    height: 30px;
		    padding: 2px 3px 0;
		    vertical-align: top;
		}
	}
	&__icon {
		&-list{
			margin: -5px 0 0;
			float: right;
			li {
				display: inline;
				padding: 0 4px;
			}
		}
	}
	&__right-text{
		float: right;
	}
	.text-pink {
		color: $color-pink;
		font-size: inherit;
		&.bold {
			font-weight: $base-font-weight-bold ;
		}
	}
}

.nav-items {
	margin: 4rem 0 1.35rem;
	li {
		color: $base-font-color;
	    display: inline-block;
	    margin-right: 2rem;
	    text-transform: $text-uppercase;
	}
}
.left-nav {
	width: 30%;
	margin-left: 3rem;
}
.right-nav {
	width: 30%;
	position: relative; 
	right: 3.25rem;
}