.filter-head {
	background-color: $biege-green;
	.filter-nav {
		margin-bottom: 0;
		li {
		    display: inline-block;
		    width: 8rem;
		    text-transform: $text-uppercase;
		    font-size: .9rem;
		    line-height: 2.75rem;
		    a {
		    	color: $grey;
		    }
		    &.active-category {
			    background: url("../images/plp/tab_arrow.png") no-repeat scroll center bottom;
			}
		}
	}
	.filter-hint {
		color: $white;
		text-transform: $text-uppercase;
		font-size: .75rem;
		line-height: 2.75rem;
		margin-bottom: 0;
	}
}
.filter-body {
	background-color: $light-grey;
	padding: 1.5rem 0;
	.category-image {
		margin-right: .5rem;
		cursor:pointer;
		border: 2px solid $white;
		border-radius: 5px;
		&.active {
			border: 2px solid $biege-green;
		}
	}
	.added-filter {
		text-transform: $text-uppercase;
		margin-top: 1rem;
		background-color: $silver;
		font-size: 0.75rem;
	    margin: 1rem 0 0;
	    padding: 2px 5px;
	    width: 50%;
	    display: block !important;
	}
	.added-filter.ng-hide {
	    opacity: 0;
	}
	.remove-filter {
		display: inline-block;
    	vertical-align: text-bottom;
	}
}

.product-listing{
	.center-align{
		text-align: center;
	}
	.breadcrums{
		span{
			a{
				color: $color-light-gray;
				&:hover{
					color: $color-light-gray;
				}
			}
		}
	}
	.selected1{
		color: $color-gray-dark;
	}
	.new-tag{
		position: absolute; 
		color: $white; 
		background-color: #3a3845; 
		padding: 0.3rem 0.7rem; 
		top: 1rem;
		left: 1.75rem;
		font-weight: bold;
	}
	.left-align{
		text-align: left;
	}
	.padding-bottom-5{
		padding-bottom: 0.5rem;
	}
	.padding-bottom-4{
		padding-bottom: 0.4rem;
	}
	.padding-ad{
		// padding-bottom: 2rem;
  //   	padding-top: 2rem;
	}
	.font-size-65{
		font-size: 0.65rem;
	}
	.product-detail{
		font-size: 0.7rem;
	    font-weight: bold; 
	    a {
	    	color: $base-font-color;  
	    } 
	}
	.text-transform-upper{
		text-transform: uppercase;
	}
	.padding-productBlock{
		padding: 2rem 0;
    	&:hover{
    		cursor:pointer;
    		.quick-view-btn {
				opacity: 1;
			}
    	}
    	.image-fixed-dimention{
    		height: 235px;
		    margin: 0 auto;
		    width: 235px;
		}
	}
	.product-rating{
		position: absolute; 
		left: 7rem; 
		opacity: 0;
	}
}
.product-listingHeader{
	padding: 1rem;
	margin: 1rem 0;
	letter-spacing: 0.02rem;
	font-size: 0.7rem;
	.pull-left{
		float: left !important;
	}
	.pull-right{
		float: right !important;
	}
	span{
		vertical-align: middle;
	}
	.selected-filter{
		color: $silver;
    	padding-left: 1rem;
	}
	.filter-sort{
		
		span{
			color: $silver;
			padding-left: 1rem;
			a{
				color: $silver;
			}
		}
		.selected{
			color:$grey !important;
		}
	}
}

.quick-view-row {
	.product-details-container {
		padding: 0 2rem;
	}
	.product-details {
		width: 80%;
	}
	.quick-view-btn {
		opacity: 0;
		margin-top: 1rem;
	    width: 20%;
	}
}
.quick-view-container {
	background-color: $color-gray; 
	padding: 2rem 4rem;
	margin: 2.5rem 0;
	.name {
		font-size: 3.25rem;
		color: $fake-black;
	}
	.sku {
		font-size: .8rem;
		color: $base;	
		margin-bottom: .5rem;
	}
	.price {
		font-size: 3rem;
    	font-weight: bold;
    	color: $fake-black;
    	margin: 2rem 0 3rem;
	}
	.add-to-cart {
	    margin: 0 1rem;
	}
	.pink-text {
		text-transform: $text-uppercase;
		margin-top: 1rem;
		font-weight: 600;
	}
	.thumb-imgs {
		margin-left: 0rem;
		.thumb-img {
			display:inline-block; 
			margin-right:.5rem;
			p {
				color: $base;
			    font-size: 0.8rem;
			    text-transform: $text-uppercase;
			    text-align: center;
			}
		}
	}
	.close-quick-view {
	    position: absolute;
	    right: 2rem;
	    top: .5rem;
	    font-size: 3rem;
	    color: $base;
	    cursor: pointer;
	}
	.arrow-quick-view {
	    position: absolute;
	    top: -28px;
	    transition: left 0.5s ease;
	}
	.orbit-bullets {
		li {
			cursor:pointer;
		}
	}
}

.marg-left {
	margin-left: 1.75rem;
}
.marg-top {
	margin-top: 1rem;
}