/*Color Set*/
@font-face {
  font-family: "BrandonGrotesque";
  src: url(../fonts/brandon_re.ttf);
}
/* line 6, sass/_core.scss */
body {
  font-family: "BrandonGrotesque";
  font-size: 0.8rem;
  color: #3B3B3B;
  height: 70rem;
}

/* line 12, sass/_core.scss */
.row {
  max-width: 80rem;
}

/* line 15, sass/_core.scss */
ul li {
  list-style-type: none;
}

/* line 19, sass/_core.scss */
.no-padding {
  padding: 0;
}

/* line 23, sass/_core.scss */
.full-width {
  max-width: 100%;
}

/* line 27, sass/_core.scss */
.silver-border {
  border-bottom: 1px solid #CCCCCC;
}

/* line 1, sass/_header.scss */
.header {
  background-color: #F7F7F9;
  font-size: 95%;
  padding: 0.5rem 0 0.2rem;
  width: 88%;
}
/* line 6, sass/_header.scss */
.header__left-column, .header__right-column {
  text-transform: uppercase;
  font-size: 85%;
}
/* line 11, sass/_header.scss */
.header__right-column span {
  color: #A5A5A5;
}
/* line 15, sass/_header.scss */
.header__left-column {
  padding-top: 0.25rem;
  font-size: 104%;
  color: #666666;
}
/* line 19, sass/_header.scss */
.header__left-column span {
  font-size: 77%;
}
/* line 22, sass/_header.scss */
.header__left-column .verticle-line {
  font-size: 100%;
  height: 2rem;
  padding: .01rem .2rem 0;
  vertical-align: top;
}
/* line 30, sass/_header.scss */
.header__icon-list {
  margin: -.2rem 0 0;
  float: right;
}
/* line 33, sass/_header.scss */
.header__icon-list li {
  display: inline;
  padding: 0 3px;
}
/* line 39, sass/_header.scss */
.header__right-text {
  float: right;
}
/* line 42, sass/_header.scss */
.header .text-pink {
  color: #DD1264;
  font-size: inherit;
}
/* line 45, sass/_header.scss */
.header .text-pink.bold {
  font-weight: bold;
}

/* line 51, sass/_header.scss */
.main-nav {
  position: relative;
  background-color: #FFFFFF;
  z-index: 10;
}
/* line 55, sass/_header.scss */
.main-nav .nav-items {
  margin: 4rem 0 1.35rem;
}
/* line 57, sass/_header.scss */
.main-nav .nav-items li {
  display: inline-block;
  margin-right: 2rem;
  text-transform: uppercase;
}
/* line 61, sass/_header.scss */
.main-nav .nav-items li a {
  color: #3B3B3B;
}
/* line 66, sass/_header.scss */
.main-nav .left-nav {
  width: 30%;
  margin-left: 3rem;
  position: static;
}
/* line 71, sass/_header.scss */
.main-nav .right-nav {
  float: left !important;
  margin-left: -1%;
  width: 30%;
  position: static;
}
/* line 76, sass/_header.scss */
.main-nav .right-nav .nav-items {
  margin-bottom: 1.25rem;
}
/* line 81, sass/_header.scss */
.main-nav .menu-arrow {
  left: 58.25rem;
  position: absolute;
  top: 6.15rem;
}
/* line 87, sass/_header.scss */
.main-nav .stuck {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* line 93, sass/_header.scss */
.main-nav .sub-menu {
  left: 0;
  position: absolute;
  top: 9.5rem;
  width: 100%;
  z-index: -1;
  -webkit-transition: all linear 0.75s;
  transition: all linear 0.75s;
  opacity: 1;
}
/* line 102, sass/_header.scss */
.main-nav .sub-menu.ng-hide {
  opacity: 0;
}
/* line 105, sass/_header.scss */
.main-nav .sub-menu .sub-menu-nav {
  margin-bottom: 1rem;
}
/* line 107, sass/_header.scss */
.main-nav .sub-menu .sub-menu-nav li {
  color: #555555;
  font-size: 0.75rem;
  line-height: 1.75rem;
  text-transform: uppercase;
}
/* line 112, sass/_header.scss */
.main-nav .sub-menu .sub-menu-nav li:first-child {
  font-weight: 600;
}
