<div class="row">
	<div class="large-4 large-offset-4 columns">
		<div class="auth-box">
			<div class="text-center">
				<a href="javascript:;">
					<img src="images/small_logo.png" class="">		
				</a>
			</div>

			<form novalidate class="simple-form" name="user" ng-submit="authenticateUser(user)">
			<span class="auth-message" ng-show="user.$error.length">Invalid Credentials</span>

			    <label>User Name
			      <input ng-model="user.name" type="text" id="username">
			    </label>

			    <label>Password
			      <input ng-model="user.password" type="password" id="password">
			    </label>

			    <button class="button auth-button" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>