<div class="row product-detail">
	<!-- <img src="images/plp/p_hero1.jpg"> -->

<div class="large-12 columns ">
<div class="pdp-headerPath"><span>HOME</span>/<span>BAGS</span>/<span class="selected">SHOULDER BAGS</span></div>
</div>
<div class="large-12 columns padding-bottom-3em">
	<div class="large-4 columns product-description">
		<div class="product-name highlightd-color padding-bottom-7">Quilted Emma Satchel</div>
		<div class="padding-bottom-5 product-number">#14342231</div>
		<div class="price padding-bottom-5 highlightd-color">$258</div>
		<div><img class="margin-top-minus-3" src="images/plp/stars.png"/><span class="read-review highlightd-color">READ ALL REVIEWS</span></div>
		<div class="product-color-choose padding-bottom-4">
		<span><img class="color-selected" src="images/pdp/thumb_1a.jpg"/></span>
		<span><img src="images/pdp/thumb_2a.jpg"/></span>
		<span><img src="images/pdp/thumb_3a.jpg"/></span>
		<div>BURNT ORANGE</div>
		</div>
		<div class="purchase-buttons">
			<span><img src="images/pdp/b_add_bag.jpg"></span>
			<span><img src="images/pdp/b_fav_this.jpg"></span>
		</div>
		<div class="store-locator">
			<div ng-click="toggleCustom()" style="cursor: pointer;"><span class="open-close-menu"><img ng-if="toggleOpen" src="images/pdp/minus.png"/><img ng-if="!toggleOpen" src="images/pdp/plus.png"/></span><span>AVAILABLE AT <span style="color: rgb(220, 16, 101);">3</span> STORES</span></div>
			<ul style="margin-bottom: 0px;" class="heightAccordian">
				<li>835 N Michigan Avenue <span>(< 1 mi.)</span></li>
				<li>111 N State St. <span>(< 1 mi.)</span></li>
				<li class="padding-bottom-5">Old Orchard Center <span>(< 19 mi.)</span></li>
				<li><img src="images/pdp/rabbit.jpg"></li>	
			</ul>
		</div>
		<div class="common-padding-width-class desc-list" style="cursor: pointer;">
			<span class="open-close-menu"><img src="images/pdp/plus.png"/></span><span>DETAILS & CARE</span>
		</div>
		<div class="common-padding-width-class desc-list" style="cursor: pointer;">
			<span class="open-close-menu"><img src="images/pdp/plus.png"/></span><span>SHIPPING & STORE PICK UP</span>
		</div>
		<div class="padding-top-2" >
			<div class="product-share">SHARE</div>
			<div><img src="images/pdp/social-icons.png"></div>
		</div>
	</div>
	<div class="large-8 columns product-display">
		<div class="text-center">
			<span class='zoom' id='ex1'  style="position: relative; overflow: hidden;">
				<img src='{{selectedUrl}}' heigit="800" width="800" alt='Daisy on the Ohoopee'/>
			</span>
		</div>
		<div class="product-items">
			<span class="detectclick" ng-click="changeImg('images/pdp/big_bag.jpg')">
			<img src="images/pdp/big_bag.jpg" ng-class="{'selected': selectedUrl=='images/pdp/big_bag.jpg'}" style="height: 5rem; width: 5rem;"></span>
			<span class="detectclick" ng-click="changeImg('images/pdp/small_2.jpg')"><img src="images/pdp/small_2.jpg" ng-class="{'selected': selectedUrl=='images/pdp/small_2.jpg'}" style="height: 5rem; width: 5rem;"></span>
			<span class="detectclick" ng-click="changeImg('images/pdp/small_3.jpg')"><img src="images/pdp/small_3.jpg" ng-class="{'selected': selectedUrl=='images/pdp/small_3.jpg'}" style="height: 5rem; width: 5rem;"></span>
			<span class="detectclick" ng-click="changeImg('images/pdp/small_4.jpg')"><img src="images/pdp/small_4.jpg" ng-class="{'selected': selectedUrl=='images/pdp/small_4.jpg'}" style="height: 5rem; width: 5rem;"></span>
			<span class="detectclick" ng-click="changeImg('images/pdp/small_5.jpg')"><img src="images/pdp/small_5.jpg" ng-class="{'selected': selectedUrl=='images/pdp/small_5.jpg'}" style="height: 5rem; width: 5rem;"></span>
			<span class="detectclick" ng-click="changeImg('images/pdp/small_6.jpg')"><img src="images/pdp/small_6.jpg" ng-class="{'selected': selectedUrl=='images/pdp/small_6.jpg'}" style="height: 5rem; width: 5rem;"></span>
		</div>
	</div>
</div>
<ul data-orbit> 
	<li>
		<img src="images/pdp/slider_a.jpg" alt="slide 1" />
	</li>
	<li class="active">
		<img src="images/pdp/slider_b.jpg" alt="slide 2" />
	</li>
	<li>
		<img src="images/pdp/slider_c.jpg" alt="slide 3" />
	</li>
</ul>
<div class="large-12 columns footer-color">
	<div class="complete-look">Complete the look</div>
	<div class="large-3 columns">
		<img src="images/pdp/look_1.jpg">
		<div class="product-name">Weekender</div>
		<div class="price">$98.00</div>
	</div>
	<div class="large-3 columns">
		<img src="images/pdp/look_2.jpg">
		<div class="product-name">Emma Satchel</div>
		<div class="price">$258.00</div>
	</div>
	<div class="large-3 columns">
		<img src="images/pdp/look_3.jpg">
		<div class="product-name">Umbrella</div>
		<div class="price">$38.00</div>
	</div>
	<div class="large-3 columns">
		<img src="images/pdp/look_4.jpg">
		<div class="product-name">Audery Wallet</div>
		<div class="price">$138.00</div>
	</div>
</div>
<div class="large-12 columns footer-color">
	<div class="complete-look">Recently viewed</div>
	<div class="large-2 columns">
		<img src="images/pdp/recent_1.jpg">
		<div class="product-name">Audery Wallet</div>
		<div class="price">$138.00</div>
	</div>
	<div class="large-2 columns" style="float:left">
		<img src="images/pdp/recent_2.jpg">
		<div class="product-name">Emma Satchel</div>
		<div class="price">$258.00</div>
	</div>
</div>
<img src="images/pdp/bottom_pdp.2.jpg">

</div>
<script>
		$(document).ready(function(){
		  setTimeout("jQuery('#ex1').zoom({ on:'mouseover' })", 300);
		});
		jQuery( ".detectclick" ).click(function() {
			jQuery('#ex1').trigger('zoom.destroy');
			setTimeout("jQuery('#ex1').zoom({ on:'mouseover' })", 150);
			});
	</script>