<div class="row">
	<img src="images/plp/p_hero1.jpg">
</div>
<div class="row filter-head">
	<div class="large-1 push-1 columns text-center no-padding">
		<p class="filter-hint">Filtered by :</p>
	</div>
	<div class="large-10 columns">
		<ul class="filter-nav">
			<li ng-repeat="item in categories" class="text-center" ng-class="{'active-category': item.active}">
				<a href="javascript:void(0);" ng-click="changeCategory(item)">{{item.name}}</a>
			</li>
		</ul>
	</div>
</div>
<div class="row filter-body text-center">
	<div class="filter-body-inner">
		<img class="category-image" ng-repeat="item in selectedCategory" ng-src="{{item.img}}"/>
	</div>
</div>

